<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
    <link href="../static/c3.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="../static/jquery.min.js"></script>
    <script type="text/javascript" src="../static/bootstrap.min.js"></script>
    <script src="../static/d3.v3.min.js" charset="utf-8"></script>
    <script src="../static/c3.min.js"></script>
    <link type="text/css" rel="stylesheet" href="../static/style.css">
</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-default nav-pills">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Stock Visualization</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ><a href="/">Home <span class="sr-only">(current)</span></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Graph <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/hologram">Histogram</a></li>
            <li><a href="/candle">Candle Stick</a></li>
            <li><a href="/search">Time Series</a></li>
          </ul>
        </li>
            <li><a href="/visualize">Visualize</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</div>
<div class="container">
        <div class="row">
            <h2 class="text-center text-output">{{ stock_name }} </h2>
        </div>
        <div class="row">
            <div id="chart"></div>
        </div>
    <div class="row">
            <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
                <h5 class="text-center text-output">predicted stock price is:{{ data }}</h5>
                <h5 class="text-center text-output">Accuracy: {{ accuracy }}</h5>
                {% if accuracy > 0.5 %}
                <h5 class="text-center text-success">you shoud buy the stock</h5>
                {% else %}
                <h5 class="text-danger text-center">You should wait for some day</h5>
                {% endif %}
           <!-- <h5 class="text-center text-output">Number of days of prediction is: {{ no_of_day }} </h5>-->
        </div>
    </div>
    <div class="row">
            <div class="col-md-3 col-sm-3 col-sm-offset-3 col-md-offset-3">
                <h4 class="text-info">Date {{ date }}</h4>
                <h4 class="text-info">Open {{ open }}</h4>
                <h4 class="text-info">High {{ high }}</h4>
            </div>
            <div class="col-md-3 col-sm-3 col-sm-offset-1 col-md-offset-1">
                <h4 class="text-info">Low {{ low }}</h4>
                <h4 class="text-info">Close {{ close }}</h4>
                <h4 class="text-info">Volume {{ volume }}</h4>
            </div>
      </div>
</div>
<script src="../static/javascript/predict.js"></script>
</body>
</html>