<!DOCTYPE HTML>
<html lang="en">
<head>
     <link rel="stylesheet" href="../static/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <script type="text/javascript" src="../static/jquery.min.js"></script>
    <script type="text/javascript" src="../static/bootstrap.min.js"></script>
    <script src="../static/javascript/candle.js"></script>
</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-default nav-pills">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Stock Visualization</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ><a href="/">Home <span class="sr-only">(current)</span></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Graph <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/hologram">Histogram</a></li>
            <li><a href="/candle">Candle Stick</a></li>
            <li><a href="/search">Time Series</a></li>
          </ul>
        </li>
            <li><a href="/visualize">Visualize</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</div>
<div class="container">
    <div class="row">
        <h2 class="text-output text-center">{{ stock_name }}</h2>
    </div>
    <div class="row">
        <div class="col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1">
            <div id="chartContainer" style="height: 370px; width: 100%;"></div>
        </div>
    </div>
    <div class="row">
                <div class="col-md-3 col-sm-3 col-md-offset-3 col-sm-offset-3">
                <h4 class="text-info">Date {{ date }}</h4>
                <h4 class="text-info">Open {{ open }}</h4>
                <h4 class="text-info">High {{ high }}</h4>
            </div>
            <div class="col-md-3 col-sm-3 col-sm-offset-1 col-md-offset-1">
                <h4 class="text-info">Low {{ low }}</h4>
                <h4 class="text-info">Close {{ close }}</h4>
                <h4 class="text-info">Volume {{ volume }}</h4>
            </div>
    </div>
</div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
</body>
</html>